h2 {
	font-family: 'Roboto Condensed', Roboto, sans-serif;
}

h2.label {
	font-family: 'Roboto Condensed', Roboto, sans-serif;
	padding-right: 25%;
	padding-left: 25%;
}

a {
	font-family: 'Roboto Condensed', Roboto, sans-serif;
	color: dimgrey;
}

p {
	font-family: 'Roboto Condensed', Roboto, sans-serif;
	padding-right: 25%;
	padding-left: 25%;
}

p.box {
	font-family: 'Roboto Condensed', Roboto, sans-serif;
	border: 2px solid Grey;
	padding: 20px;
	width: 200px;
	box-shadow: 2.5px 5px #888888;
	background-color: #f2f2f2;
}
