h2 {
	font-family: 'Roboto Condensed', Roboto, sans-serif;
	font-style: italic
}

a {
	font-family: 'Roboto Condensed', Roboto, sans-serif;
	color: black;
}

p.box {
	font-family: 'Roboto Condensed', Roboto, sans-serif;
	border: 2px solid Grey;
	padding: 20px;
	width: 200px;
	box-shadow: 2.5px 5px #888888;
	background-color: #f2f2f2;
}

p.entry {
	font-family: 'Roboto Condensed', Roboto, sans-serif;
	border: 2px solid Grey;
	padding: 20px;
	width: 500px;
	box-shadow: 2.5px 5px #888888;
	background-color: #f2f2f2;
}

body {
	background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPScxMCcgaGVpZ2h0PScxMCc+CiAgPHJlY3Qgd2lkdGg9JzEwJyBoZWlnaHQ9JzEwJyBmaWxsPSd3aGl0ZScgLz4KICA8cmVjdCB4PScwJyB5PScwJyB3aWR0aD0nMScgaGVpZ2h0PScxJyBmaWxsPSdibGFjaycgLz4KPC9zdmc+");
	background-repeat: repeat;
}
